{% extends "SanSISCoreBaseBundle::base.html.twig" %}

{% block title %}Bundle de Desenvolvimento{% endblock %}

{% block sigla_sistema %}Devel{% endblock %}
{% block nome_sistema %}Bundle de Desenvolvimento{% endblock %}

{% block session_counter_js %}{% endblock %}
{% block session_counter %}{% endblock %}
{% block extra_info %}{% endblock %}
{% block menu_sair %}{% endblock %}

{% block body %}

	<h1>Base de desenvolvimento de sistemas do SanSIS</h1>
	<p>Esta é a base para desenvolvimento de sistemas do SanSIS, do qual todos os layouts deverão estender</p>

{% endblock %}
