{% extends "SanSISCoreDevelBundle::base.html.twig" %}

{% block title %}SanSISCoreDevelBundle:Generate:parametersYml{% endblock %}

{% block body %}
Informar a role da aplicação para a conexão
<ul>
<li>Deverá ser criada um Doctrine\DBAL\Event\Listeners\OracleSession para o core da aplicação</li>
</ul>
{% endblock %}
